.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    width: 100%;
}

.cabecalho__titulo{
    padding: 18.8px;
}

.cabecalho__logo {
    width: 440px;

}

.logo{

    width: 149px;

}

.img-100{
    width: 100vw;
}

.conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo{
    width: 440px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 140%;

    color: #000000;
}

.texto{
    padding: 0.5rem;
    width: 440px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;

    color: #000000;
}

.texto__nome{
    font-weight: 600;
}

.conteudo__botao{
    width: 440px;
}

.botao{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 187px;
    height: 44px;

    background: #000000;
    border-radius: 2px;
    color: #FFFFFF;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
}

.linha{
    width: 440px;
    border-bottom: 2px solid #C4C4C4;
}

.conteudo__img{
    width: 440px;
}

.titulo__secundario{
    font-size: 27px;
}

.texto__secundario{
    font-size: 14px;
}

.btn__secundario{
    width: 153px;
}

.btn__terciario{
    width: 167px;
}

.btn__quaternario{
    width: 116px;
}

.conteudo__questionario{
    display: flex;
    justify-content: center;
    background-color: #FEEAEA;
    width: 100%;
    margin: 40px 0px;
    padding: 36px 0px;

}

.titulo__terciario{
    font-size: 27px;
    height: 76px;
}

.form__label{
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 440px;
	padding: 24px 0px 24px 16px;
    margin: 24px;

    box-sizing: border-box;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;

    border: 2px solid #000000;
    border-radius: 2px;
  
  	position: relative;
  	cursor: pointer;
}

.form__label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
  

.checkmark {
    position: relative;
    margin-right: 12px;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    border: 2px solid #000000;
    border-radius: 50%;
}
   
.form__label input:checked ~ .checkmark {
    background-color: white;
    border: 2px solid #2196F3;
}
  
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.form__label input:checked ~ .checkmark:after {
    display: block;
}
  
.form__label .checkmark:after {
    top: 1.7px;
    left: 1.5px;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background: #2196F3;
}

.conteudo__final{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 40px;
    height: 223px;

    box-sizing: border-box;

    background: #FFF1FE;
}

.texto__final:nth-child(1){
    font-weight: 600;
    font-size: 24px;
    padding: 0.5rem 0rem;
    height: 34px;
    box-sizing: border-box;
}

.texto__final:nth-child(2){
    padding: 0.5rem 0rem;
    font-size: 14px;
    height: 61px;
}

.btn__quinario{
    margin: 0.5rem 0rem;
    width: 148px;
    height: 44px;
}

.rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;

    gap: 10px;
    height: 120px;

    background: #000000;
    color: #FFFFFF;
}

.rodape__conteudo{
    width: 440px;
}

.rodape__texto__primario{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 4px;
}

.rodape__texto__segundario{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    margin-bottom: 8px;
}

.rodape__social {
    display: flex;
    height: 12.31px;
    margin-bottom: 8px;
}

ul {
	list-style: none;
}

.rodape__midia {
    display: block;
}

.rodape__midia_img{
    Width: 14.68px;
    margin-right: 10px;
}

.texto__subliado{
    text-decoration: underline;
    font-weight: bold;
}

/* Adequamdo para telas de tamanho >= 1024px */
@media screen and (min-width: 1024px){
    .cabecalho__logo {
        width: 960px;
    }
    
    .titulo{
        width: 960px;
    }
    .texto{
        width: 960px;

    }
    .conteudo__botao{
        width: 960px;
    }
    
    .linha{
        width: 960px;
    }
    
    .conteudo__img{
        width: 960px;
    }
    .form__label{
        width: 960px;
    }
    .rodape__conteudo{
        width: 960px;
    }
    
}