*{
    margin: 0;
    padding:0;
}
.cabecalho {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cabecalho__logo {
    background-color: #000000;
    padding: 22px 107px 12px 66px;

}

.logo{

    width: 149px;

}

.img-100{
    width: 100vw;
}

.conteudo{
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.titulo{
    margin: 30px auto 15px;
    width: 440px;
    height: 100px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 140%;

    color: #000000;
}

.texto{
    margin: 0px auto;
    padding: 0.5rem;
    width: 440px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;

    color: #000000;
}

.texto__nome{
    font-weight: bold;
}

.botao{
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 10px 81px 10px 81px;
    width: 187px;
    height: 44px;

    background: #000000;
    border-radius: 2px;
    color: #FFFFFF;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
}

.linha{
    margin: 20px auto;
    width: 440px;
    border-bottom: 2px solid #C4C4C4;
}

.conteudo__img{
    width: 440px;
    padding: 20px 80px 0px 80px;
}

.titulo__secundario{
    font-size: 27px;
    height: 70px;
}

.texto__secundario{
    font-size: 14px;
}

.btn__secundario{
    width: 153px;
}

.btn__terciario{
    width: 167px;
}

.btn__quaternario{
    width: 116px;
}

.conteudo__questionario{
    background-color: #FEEAEA;
    margin: 40px 0px;
    padding: 36px 80px;

}

.titulo__terciario{
    margin: 0px auto 0px;
}

.form__label{
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 440px;
	padding: 24px 0px 24px 16px;
    margin: 24px auto 0px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;

    border: 2px solid #000000;
    border-radius: 2px;
  
  	position: relative;
  	cursor: pointer;
}

.form__label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
  

.checkmark {
    position: relative;
    margin-right: 12px;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    border: 2px solid #000000;
    border-radius: 50%;
}
   
.form__label input:checked ~ .checkmark {
    background-color: white;
    border: 2px solid #2196F3;
}
  
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.form__label input:checked ~ .checkmark:after {
    display: block;
}
  
.form__label .checkmark:after {
    top: 1.7px;
    left: 1.5px;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background: #2196F3;
}

.conteudo__final{
    margin: 40px 0px;
    padding: 32px 80px;
    height: 223px;

    box-sizing: border-box;

    background: #FFF1FE;
}

.texto__final:nth-child(1){
    font-weight: 600;
    font-size: 24px;
    padding: 0.5rem 0rem;
    height: 34px;
    box-sizing: border-box;
}

.texto__final:nth-child(2){
    padding: 0.5rem 0rem;
    font-size: 14px;
    height: 61px;
}

.btn__quinario{
    margin: 0.5rem 0rem;
    width: 148px;
    height: 44px;
}